<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.microservices.dao.SpendingCardDao">

   <!-- 나의 카드내역 전체 조회  -->
   <select id="selectSpendingCardAll" parameterType="Integer" resultType="com.demo.microservices.model.SpendingCardVO">

		select ci.card_id
		     , ci.card_cmpy_cd
		     , ccd.cm_dtl_cd_nm as card_cmpy_name
		     , ci.card_no
		     , ci.card_name
		     , ci.use_yn
		     , ci.user_id
		  from card_info ci
		       left outer join
		       cm_cd_dtl ccd
		       on ci.card_cmpy_cd = ccd.cm_dtl_cd and
		       ccd.cm_cd = 'card_cmpy_cd'
		 where ci.user_id = #{userId}
   </select>

   <!-- 나의 카드내역 중 한개 상세조회  -->
   <select id="selectSpendingCard" parameterType="Integer" resultType="com.demo.microservices.model.SpendingCardVO">

		select ci.card_id
		     , ci.card_cmpy_cd
		     , ccd.cm_dtl_cd_nm as card_cmpy_name
		     , ci.card_no
		     , ci.card_name
		     , ci.use_yn
		     , ci.user_id
		  from card_info ci
		       left outer join
		       cm_cd_dtl ccd
		       on ci.card_cmpy_cd = ccd.cm_dtl_cd and
		       ccd.cm_cd = 'card_cmpy_cd'
		 where ci.card_id = #{card_id}
   </select>
   
   <!-- 카드내역 등록 -->
   <insert id="insertSpendingCard" parameterType="com.demo.microservices.model.SpendingCardVO">
		
		insert into card_info (
			card_cmpy_cd
		  , card_no
		  , card_name
		  , use_yn
		  , user_id
		  , input_id
		  , input_dt
		  , modify_id
		  , modify_dt
		)
		values (
			#{cardCmpyCd}
		  , #{cardNo}
		  , #{cardName}
		  , #{useYn}
		  , #{userId}
		  , #{userId}
		  , now()
		  , #{userId}
		  , now()
		)
   </insert>
   
   <!-- 카드내역 수정 -->
   <update id="updateSpendingCard" parameterType="com.demo.microservices.model.SpendingCardVO">
		update card_info
		   set use_yn 		= #{useYn}
			 , modify_id 	= #{userId}
			 , modify_dt 	= now()
       where card_id = #{cardId}
   </update>
   
   <!-- 카드내역 삭제 -->	
   <delete id="deleteSpendingCard" parameterType="Integer">
 delete from card_info
       where card_id = #{cardId}
   </delete>


</mapper>