<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.microservices.dao.SpendingTravelDao">


   <!-- 나의 여행별 결제내역 전체 조회 trvl_pay_info -->
   <select id="selectSpendingTravelAll" resultType="com.demo.microservices.model.SpendingTravelVO">

		select tpi.trvl_pay_id
			 , tpi.trvl_id
			 , tpi.pay_id
			 , tpi.pay_amt
			 , tpi.pay_dt
			 , tpi.pay_name
			 , tpi.pay_method
			 , case when tpi.pay_method = 0 then '현금'
			        else ci.card_name
			   end as pay_method_name
			 , tpi.pay_type
			 , cpt.cm_dtl_cd_nm as pay_type_name
			 , ci.card_id
			 , tpi.user_id
		  from trvl_pay_info tpi
		  	   left outer join 
		  	   card_info ci
		  	   on tpi.pay_method = ci.card_id
		  	   left outer join
		  	   cm_cd_dtl cpt
		  	   on
		  	   cpt.cm_cd = 'pay_type' and
		  	   cpt.cm_dtl_cd = tpi.pay_type
		 where tpi.trvl_id = #{trvlId}
		<if test="searchPayType != null and searchPayType != ''">
		   and tpi.pay_type = cast(#{searchPayType} as signed)
		</if>
   </select>

   <!-- 나의 여행별 결제내역 중 한개 상세조회 trvl_pay_info -->
   <select id="selectSpendingTravel" parameterType="Integer" resultType="com.demo.microservices.model.SpendingTravelVO">

		select tpi.trvl_pay_id
			 , tpi.pay_amt
			 , tpi.pay_dt
			 , tpi.pay_name
			 , tpi.pay_method
			 , case when tpi.pay_method = 0 then '현금'
			        else ci.card_name
			   end as pay_method_name
			 , tpi.pay_type
			 , cpt.cm_dtl_cd_nm as pay_type_name
			 , ci.card_id
			 , tpi.user_id
		  from trvl_pay_info tpi
		  	   left outer join 
		  	   card_info ci
		  	   on tpi.pay_method = ci.card_id
		  	   left outer join
		  	   cm_cd_dtl cpt
		  	   on
		  	   cpt.cm_cd = 'pay_type' and
		  	   cpt.cm_dtl_cd = tpi.pay_type
		 where tpi.trvl_pay_id = #{trvlPayId}
   </select>
   
   <!-- 여행별 결제내역 등록 -->
   <insert id="insertSpendingTravel" parameterType="com.demo.microservices.model.SpendingTravelVO">
		
		insert into trvl_pay_info (
		<!-- trvl_pay_id는 ai라서 생략함.. -->
			trvl_id
		  , pay_amt
		  , pay_dt
		  , pay_name
		  , pay_method
		  , user_id
		  , pay_type
		  , pay_id
		  , input_id
		  , input_dt
		  , modify_id
		  , modify_dt
		)
		values (
		    #{trvlId}
		  , #{payAmt}
		  , #{payDt}
		  , #{payName}
		  , #{payMethod}
		  , #{userId}
		  , #{payType}
		  , #{payId}
		  , #{userId}
		  , now()
		  , #{userId}
		  , now()
		)
   </insert>
   
   <!-- 여행별 결제내역 수정 -->
   <update id="updateSpendingTravel" parameterType="com.demo.microservices.model.SpendingTravelVO">
		update trvl_pay_info
		   set pay_amt 		= #{payAmt}
			 , pay_dt 		= #{payDt}
			 , pay_name 	= #{payName}
			 , pay_method 	= #{payMethod}
			 , pay_type		= #{payType}
			 , modify_id 	= #{userId}
			 , modify_dt 	= now()
       where trvl_pay_id = #{trvlPayId}
   </update>
   
   <!-- 여행별 결제내역 삭제 -->	
   <delete id="deleteSpendingTravel" parameterType="Integer">
 delete from trvl_pay_info
       where trvl_pay_id = #{trvlPayId}
   </delete>

   <!-- 사용 금액 비율 갱신하기 -->
   <update id="updateSpendingTravelRate" parameterType="Integer">
   
 update trvl_info a
    set total_pay_amt = ifnull((select sum(pay_amt) from trvl_pay_info where trvl_id = a.trvl_id),0)
  where a.trvl_id = #{trvlId};
   
 update trvl_info a
    set total_room_rate = ifnull((select sum(pay_amt) from trvl_pay_info where trvl_id = a.trvl_id and pay_type = '1'),0)/a.total_pay_amt,
        total_food_rate = ifnull((select sum(pay_amt) from trvl_pay_info where trvl_id = a.trvl_id and pay_type = '2'),0)/a.total_pay_amt,
        total_trff_rate = ifnull((select sum(pay_amt) from trvl_pay_info where trvl_id = a.trvl_id and pay_type = '3'),0)/a.total_pay_amt,
        total_act_rate  = ifnull((select sum(pay_amt) from trvl_pay_info where trvl_id = a.trvl_id and pay_type = '4'),0)/a.total_pay_amt,
        total_etc_rate  = ifnull((select sum(pay_amt) from trvl_pay_info where trvl_id = a.trvl_id and pay_type = '5'),0)/a.total_pay_amt
  where a.trvl_id = #{trvlId};

   </update>

   <!-- 여행결제내역 id로 여행 id 가져오기 -->
   <select id="getTrvlIdWithTrvlPayId" parameterType="Integer" resultType="Integer">

		select tpi.trvl_id
		  from trvl_pay_info tpi
		 where tpi.trvl_pay_id = #{trvlPayId}
   </select>

</mapper>